<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>
<table class="table table-boldered">
  <thead>
        <tr>
            <th>职位名称</th>
            <th>工资范围</th>
            <th>公司名称</th>
            <th>公司地点</th>
            <th>发布时间</th>

        </tr>

    </thead>
    <tbody>
            <% @jobs.each do |job| %>
            <tr>
                <td>
                    <%= link_to(job.title, job_path(job)) %>
                </td>
                <td>
                    <i class="fa fa-jpy" aria-hidden="true"></i><%= job.wage_lower_bound %>-<%= job.wage_upper_bound %>元
                </td>
                <td>
                    <%= job.company_name %>
                </td>
                <td>
                    <%= job.company_location %>
                </td>
                <td>
                    <%= formatDate(job.created_at) %>
                </td>

            </tr>
            <% end %>
        </tbody>
</table>
