<div class="search-result">
<% if @jobs.length > 0 %>
  <table class="table table-hover table-boldered table-striped custab">
    <thead>
      <tr>
        <th>职位名称</th>

        <th>工资</th>
        <th>公司名称</th>
        <th>公司地点</th>
        <th>发布时间</th>

      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to(render_highlight_content(job, @query_string), job_path(job)) %></td>

          <td> <i class="fa fa-jpy" aria-hidden="true"></i><%=job.wage_lower_bound %> - <%= job.wage_upper_bound %>元</td>
          <td><%= link_to(job.company_name, '/jobs/search?utf8=✓&q=' + job.company_name) %></td>
          <td><span class="fa fa-map-marker"></span> <%= job.company_location %></td>
          <td><%= formatDate(job.created_at) %></td>

        </tr>
      <% end %>
     </tbody>
   </table>

  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>

<% else %>
  <p class="empty-message">很抱歉，没有搜到相关职位哦，试试搜一下其他的关键词</p>
<% end %>
</div>
