<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default")%>
</div>

<br><br>

<table class="table table-boldered">
    <thead>
        <tr>
            <th>
                职位名称
            </th>

            <th>
              收到履历数量
            </th>
            <th>
                工资范围
            </th>
            <th>
                公司名称
            </th>
            <th>
                管理选项
            </th>
            <th>
                发布时间
            </th>
        </tr>
    </thead>

    <% @jobs.each do |job| %>
    <tr>

        <td>
            <%= render_job_status(job) %>

            <%= link_to(job.title, admin_job_path(job)) %>
        </td>
        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
        <td> <i class="fa fa-jpy" aria-hidden="true"></i><%= job.wage_lower_bound %>-<%= job.wage_upper_bound %>元</td>
        <td> <%= job.company_name %> </td>
        <td>
            <%= link_to("Edit", edit_admin_job_path(job)) %>
            |
            <%= link_to("Destroy", admin_job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>

            |
            <% if job.is_hidden %>

            <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-default") %>
        <% else %>
            <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-default") %>
            <% end %>
        </td>
        <td>
            <%= formatDate(job.created_at) %>
        </td>
    </tr>
    <% end %>
</table>
